<footer>
    <div class="footer-left">
        <h1 class="footer-topic">SOFTWARE DEVELOPER</h1>
        <h1 class="footer-topic-mobile">Karthickraja</h1>
        <p class="designed">© 2026 Designed & Developed by Karthickraja M</p>
    </div>
    <div class="footer-right">
        <div class="footer-nav">
            <a href="index.html" class="footer footer-home">Home</a>
            <a href="about.html" class="footer footer-about">About us</a>
            <a href="contact.html" class="footer footer-contact">Contact</a> <br>
        </div>
        <div class="social-media-box">
            <a href="https://www.linkedin.com/in/karthickrajathedeveloper" class="social-media linkedin"><i
                    class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/karthickrajathedeveloper" class="social-media github"><i
                    class="fa-brands fa-github"></i></a>
            <a href="#" class="social-media instragram"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>